{% extends "base.html" %}

{% block content %}

<div class="max-w-2xl mx-auto py-16">

<h1 class="text-3xl font-bold mb-6">
Buy {{ ticket.name }} Ticket
</h1>
<p class="mb-4">
    Event: {{ ticket.event.title }}
</p>>
Event: {{ ticket.event.title }}
</p>

<p style="color:red; font-size:20px;">
DEBUG PRICE: {{ ticket.price }}
</p>

<form method="POST" class="space-y-4">
    {% csrf_token %}

<input type="text" name="name" placeholder="Your Name"
class="w-full border p-3 rounded">

<input type="email" name="email" placeholder="Email Address"
class="w-full border p-3 rounded" required>

<input type="number" name="quantity" placeholder="Quantity"
class="w-full border p-3 rounded">

<!-- ✅ ADD THIS DROPDOWN -->
<select id="ticketType" class="w-full border p-3 rounded">
    <option value="{{ ticket.price }}">
    {{ ticket.category }} - ₦{{ ticket.price }}
</option>
</select>

<button type="button" onclick="payWithPaystack()"
class="bg-orange-500 text-white w-full py-3 rounded">
Proceed to Payment
</button>

</form>

</div>

<form method="POST" class="space-y-4">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Your Name"
    class="w-full border p-3 rounded">

    <input type="email" name="email" placeholder="Email Address"
    class="w-full border p-3 rounded" required>

    <input type="number" name="quantity" placeholder="Quantity"
    class="w-full border p-3 rounded">

    <button type="submit"
    class="bg-orange-500 text-white w-full py-3 rounded">
    Proceed to Payment
    </button>

</form>